.MuiPaper-elevation1 {
    box-shadow: none !important;
}
/* sidebar */
#root > div > div > div.MuiGrid-root.sidebar.MuiGrid-item.MuiGrid-grid-xs-3 {
    background-color: #2f3136;
    height: 100vh;
    
}
/* this dumb shit is for paper */
.primary-color {
    color: #b9bbbe !important;
}
.group-title {
    font-size: 0.69em;
    font-weight: 500;
    line-height: 20px;
    padding: 0.5em;
    box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    color: #ffffff !important;
}
.MuiSvgIcon-root {
    font-size: 1.6em !important;
    opacity: 0.8 !important;
}
.secondary-color {
    color: white;
}
body {
    margin: 0px;
    font-family: 'Roboto';
}

.main-chat {
    background-color: #36393f;
}

/* Paper */
.MuiPaper-root {
    background-color: transparent !important;
}