.group-title-symbol {
  padding: 0 15px;
  color: #72767d;
}

.channel-title {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05)!important;
  height: 48px;
  font-size: 16px;
}

.chat-box-container {
  display: flex;
  justify-content: center;
}

.log-container {
  flex-grow: 1;
  padding: 0 20px!important;
}