.whiteboard-canvas {
  height: 100%;
  position: relative;
  overflow: auto;
}

.whiteboard-canvas > canvas {
  /* height: 100%;
  width: 100%; */
  border: 1px solid red;
  box-sizing: border-box;
}

.active-artists {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.whiteboard-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.tool-box {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  display: flex;
}

.whiteboard-island {
  position: absolute;
  display: flex;
  padding: 16px;
  margin-left: 5px;
}

.left-island {
  position: absolute;
}

.archipelago {
  position: relative;
}

.artist-icon {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  /* position: absolute; */
  /* right: 0; */
}

.artists-icon-container {
  margin-left: auto;
}

.cursor-container {
  pointer-events: none;
  min-width: 32px;
  height: 32px;
  position: absolute;
}

.cursor-nametag {
  margin-left: 25px;
  color: white;
  background: #8bcd2f;
  padding: 4px;
  font-size: 12px;
  border: 0.5px solid darkgreen;
  border-radius: 3px;
}

.radio-tools {
  display: none;
}


.tool-icons {
  margin: 5px;
}