.whiteboard-canvas {
  height: 100%;
  position: relative;
  overflow: auto;
}

.whiteboard-canvas > canvas {
  /* height: 100%;
  width: 100%; */
  border: 1px solid red;
  box-sizing: border-box;
}

.active-artists {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.whiteboard-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.whiteboard-island, .left-island {
  width: 210px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 10px 10px;
}

.island-row {
  margin-bottom: 10px;
}

.stroke-label {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 2px;
}

.systool-container {
  display: inline-flex;
  margin-bottom: 5px;
}

.systool > input {
  display: none;
}

.systool {
  width: 40px;
  height: 40px;
  background: #CED4DA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px; 
}

.artist-icon {
  width: 23px;
  height: 23px;
  border-radius: 23px;
}

.artists-icon-container {
  margin-left: auto;
}

.cursor-container {
  pointer-events: none;
  min-width: 32px;
  height: 32px;
  position: absolute;
}

.cursor-nametag {
  margin-left: 25px;
  color: white;
  background: #8bcd2f;
  padding: 4px;
  font-size: 12px;
  border: 0.5px solid darkgreen;
  border-radius: 3px;
}

.radio-tools {
  display: none;
}

.tool-box {
  display: inline-flex;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 4px 2px;
}

.tool-icons {
  margin: 0 2px;
  width: 40px;
  height: 40px;
  background: #CED4DA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex-input-container {
  display: inline-block;
  position: relative;
}

.hex-color-input, .hex-color-input > div {
  width: 120px;
  position: static!important;
}

.hex-color-input > div > input {
  padding: 6px 6px 7px;
}

.hex-color-input > div > fieldset {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  height: 37px;
}

.hex-color-input > div > input:focus + fieldset {
  border: 2px solid lightskyblue!important;
}

.draw-ui {
  pointer-events: none;
}

.whiteboard-island, .left-island, .tool-box {
  pointer-events: all;
}

.hex-symbol {
  background: #DEE2E6;
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

[id$="-helper-text"] {
  position: relative;
  left: -42px;
  white-space: nowrap;
}

.hex-selector {
  width: 32px;
  height: 32px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-left: 2px;
  margin-right: 4px;
}

.hex-wrapper {
  display: inline-flex;
}

.palette-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 120px;
  height: 120px;
  gap: 4px;
  z-index: 1;
  top: 100%;
  background: #ffffff;
  padding: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
  border-radius: 5px;
}

.palette-color {
  background: lightblue;
  border-radius: 4px;
}

@media screen and (max-width: 850px) {
  .whiteboard-island, .left-island {
    display: none;
  }
}